<div class="container mx-auto">
  <div class="font-bold text-center text-4xl m-2">Maker Space ABE 3078</div>
  <hr />
  <div class="text-center m-3">
    <p class="text-xl">
      This is a project of
      <span class="font-bold">Purdue Digital Agriculture Club</span>. The source
      code of this demo project can be found
      <a
        href="https://github.com/DAC-Of-Purdue/IoT-playground"
        class="text-green-500 hover:font-bold"
        >here</a
      >.
    </p>
  </div>
  <hr />
  <div class="columns-1 lg:columns-2 px-1">
    <app-gauge
      [value]="temperature"
      [isData]="isData"
      [option]="temperatureGaugeOption"
      [normalRange]="[55, 85]"
    >
    </app-gauge>

    <app-gauge
      [value]="humidity"
      [isData]="isData"
      [option]="humidityGaugeOption"
      [normalRange]="[20, 80]"
    >
    </app-gauge>
  </div>
  <div class="m-3 text-center">
    <h3 class="text-lg">Last Update: {{ lastUpdate | titlecase }}</h3>
    <p class="font-light text-sm">
      Note: This is receiving time on the client side a.k.a. your browser
    </p>
  </div>

  <router-outlet></router-outlet>
</div>
